@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2 style="color:white">Đơn hàng của quý khách đã được chúng tôi ghi nhận.Muốn ăn nữa thì nói không thì biến (best chị Hường)</h2>
<p>
@Html.ActionLink("VỀ TRANG CHỦ", "Index", "Order")
</p>
