@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>Đặt hàng thành công.Muốn ăn thì nói không thì biến -_-</h2>
<p>
@Html.ActionLink("VỀ TRANG CHỦ", "Index", "Order")
</p>
