
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" style=" background: #9c0c0c;">
            <a>Đăng nhập</a>
        </h4>
    </div>
    <div>
        <div class="accordion-list-content" style="overflow: hidden; display: block;">
            <div style="margin-right:50px;margin-top:20px;" class="col-md-6 check-name">
                <h4 style="margin-left:20px">MEMBER LOGIN</h4>
                <div>
                    @using (Html.BeginForm("Dangnhap", "Nguoidung"))
                    {
                        @Html.ValidationSummary(true)
                           
                        <input style="margin-bottom: 10px;padding: 5px;border-radius: 4px;margin-left: 15px;border: solid 1px #c0b4a9;" type="text" name="userName" placeholder="Tên đăng nhập" required/>
                        <input style="margin-bottom: 10px;padding: 5px;border-radius: 4px;margin-left: 15px;border: solid 1px #c0b4a9;" type="password" name="password" placeholder="Mật khẩu" required/>
                        <br />
                        <input style="margin-bottom: 15px;padding: 5px;border-radius: 4px;margin-left: 15px;border: solid 1px #c0b4a9;" type="submit" value="Đăng nhập" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>