@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<h2>Details</h2>
<div class="single-product cold-md-12">
    <div class="flexslider col-md-6">
        <img src="~/Images2/" />
    </div>
    <div class="product-details col-md-6">
        <h1></h1>
        <p class="price">
            $23.00
        </p>
        <span>$27.00</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non vestibulum massa, sit amet bibendum eros. In accumsan dignissim tellus ac faucibus. Mauris vel sollicitudin metus. Praesent ut neque nec velit euismod fermentum.
        </p>
        <form action="#">
            <div class="qtyminus">
            </div>
            <input type="text" name="quantity" value="1" class="qty">
            <div class="qtyplus">
            </div>
        </form>
        <a href="#">Add to Cart</a>
        <hr>
        <div class="availability">
            <p>
                Availability:
            </p>
            <span>in stock</span>
        </div>
        <div class="reviews">
            <ul>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
            </ul>
        </div>
    </div>
    </div>
