@model IEnumerable<DoAn.Models.CTMONAN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container">
    <div class="row articles col-md-12 col-sm-12" style="height:60px;text-align:center; margin-top:30px;margin-bottom:10px"><span style="text-align: center;font-size:20px;color:black; background-color: white;background-size:50px;border-radius:15px;padding :15px">Sản Phẩm Mới</span></div>
    <div class="row articles">


        @foreach (var Food in Model)
        {
            <!--articles-->
            <div class="col-md-3 col-sm-6">
                <img class="img-responsive" src="~/Images2/@Food.Anh" alt="img" style=" height: 270px">
                <div class="text">
                    <a href="@Url.Action("DeTails","Order",new { id = Food.Mamon})">
                        <span>
                            @Food.Tenmon
                        </span>
                    </a>
                    <p>
                        @Food.Giaban.000Đ
                    </p>
                </div>
            </div>
            <!--end-articles-->

        }
    </div>
    <!--bottom-articles-->
    <div class="row articles col-md-12 col-sm-12" style="height:60px;text-align:center; margin-top:100px; margin-bottom:10px"><span style="text-align: center;font-size:20px;color:black; background-color: white;background-size:50px;border-radius:15px;padding :15px">Bán Chạy Trong Tuần</span></div>
    <div class="row articles">
        <div class="col-md-3 col-sm-6">
            <img src="~/images/product1.jpg" alt="img">
            <div class="text">
                <span>
                    CC Circualr Cake
                </span>
                <p>
                    $ 55.00
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/images/product2.jpg" alt="img">
            <div class="text">
                <span>
                    Mixy Choco
                </span>
                <p>
                    $ 12.00
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/images/product3.jpg" alt="img">
            <div class="text">
                <span>
                    All Nuts Choco
                </span>
                <p>
                    $ 26.00
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/images/product4.jpg" alt="img">
            <div class="text">
                <span>
                    Tasty Chocolate
                </span>
                <p>
                    $ 23.00
                </p>
            </div>
        </div>
    </div>
    <!--end-bottom-articles-->
</div>


